$grey_100: #F9F9F9;
$grey_101: #F2F2F2;
$grey_200: #DADADA;
$grey_202: #CECECE;
$grey_300: #BEC1C5; 
$grey_400: #777777;
$grey_401: #888888;
$grey_441: #888888;
$grey_500: #585F69;
$grey_600: #505050;
$grey_615: #3E3E3E;
$grey_700: #2D333A;
$grey_800: #383838;
$grey_555: #555555;
$grey_801: rgba(218, 218, 218, 0.5);


$black_100: #000000;

$red_100: #E20010;

$blue_100: #3B93C9;
$blue_200: #359DD5;

$yellow_100: #FBC72E;

$white_100: #fff;