@import '../layout/variables';

.items-conteiner { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 19px 0 0 0 ;
    flex-direction: row;
    padding: 0;

    .items-wp{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 180px;
        min-height: 210px;
        position: relative;
        padding: 0 0 9px 0;
        border: 1px solid;
        border-color: $grey_101;
        border-radius: 10px;
        box-sizing: border-box;
        margin: 0 0 26px 0;
        background-color: $white_100;
        
      
        &--icon{
            width: 24px;
            height: 24px;
            position: absolute;
            top: 0;
            right: 0;
            padding-right: 8px;
            padding-top: 7px;
            border-color: green;
     
            &--liked{
                color: green; 
            }
        }

        &__img-box{
            padding: 9px 9px;

            &--src{
                background-color: $white_100;
                width: 159px;
                height: 127px;
            }
        }
     
        &__price {
            font-size: 22px;
            margin: 0;
            padding: 0 0 0 20px;
            font-weight: 400;
           }
     
        &__discribe{
            margin: 0;
            min-width: 152px;
            min-height: 38px;
            font-size: 14px;
            color: $grey_600;
            padding: 0 0 0 20px;
     
        }
     
     }

}





/*.items-conteiner { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 19px 0 0 0 ;
    flex-direction: row;
    padding: 0;

    .items-wp{
        width: 48%;
        min-height: 210px;
        position: relative;
        padding: 0 8px 0 0;
        border: 1px solid;
        border-color: $grey_101;
        border-radius: 10px;
        box-sizing: border-box;
        
      
        &--icon{
            width: 24px;
            height: 24px;
            position: absolute;
            top: 0;
            right: 0;
            padding-right: 8px;
            padding-top: 7px;
            border-color: green;
     
            &--liked{
                color: green; 
            }
        }
     
        &__price {
            font-size: 22px;
            margin: 0;
            padding: 0 0 0 20px;
            font-weight: 400;
           }
     
        &__discribe{
            margin: 0;
            min-width: 152px;
            min-height: 38px;
            font-size: 14px;
            color: $grey_101;
            padding: 0 0 0 20px;
     
        }
     
     }

}*/