@import '../layout/variables';

.items-flex { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 19px 0 0 0 ;
    flex-direction: column;
    padding: 0;

.items-wp{
   width: 48%;
   min-height: 210px;
   position: relative;
   padding-right: 8px;
   border: 1px solid;
   border-color: $border_items;
   border-radius: 10px;
   box-sizing: border-box;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
 
   &__icon{
       width: 24px;
       height: 24px;
       position: absolute;
       top: 0;
       right: 0;
       padding-right: 8px;
       padding-top: 7px;
       border-color: green;

       &_liked{
           color: green; 
       }
   }

   &__price {
       font-size: 22px;
       margin: 0;
       padding: 0 0 0 20px;
       font-weight: 400;
      }

   &__discribe{
       margin: 0;
       width: 152px;
       height: 38px;
       font-size: 14px;
       color: $font_item;
       padding: 0 0 0 20px;

   }

}

}