@import '../layout/variables';

.item-conteiner {
    margin: 7px 0 0 0;
    padding: 0 0 0 21px;
    background-color: $grey_100;
    
    .slaider-conteiner{
        display: flex;
        align-items: center;
        width: 320px;
        height: 250px;
        position: relative;
        overflow: hidden;

        &__img{
            width: 100%;
            object-fit: contain;
               
        }

        &__img--info{
         display: inline-block;
         position: absolute;
         bottom: 0;
         left: 0;
         background-color: $grey_200;
         width: 64px;
         height: 32px;
         color: $grey_600;
         text-align: center;
         border: 1px solid $grey_441;
         border-radius: 5px;
         font-size: 14px;
         box-sizing: border-box;
         padding: 7px 0 0 0 ;         

        }
          
    }
    
    .items-content {
        
        &__title{
            font-size: 28px;
            font-weight: 400;
            padding: 0;
            margin: 18px 4px 9px 0;
        }

        &__rating {
            &:hover{
                background-color: gold;
            }

        }

        &__price{
            margin: 10px 0 27px 0;
            display: flex;
            flex-direction: row;

            &--titel{
                margin: 0;
                padding: 0;
                font-size: 44px;
                font-weight: 400;
                
            }
            
            &--state{
                font-size: 14px;
                color: $grey_600;
                align-self: flex-end;
                padding: 0 0 8px 8px;
            }
        }

        .label-amont{
            font-size: 14px;
            color: $grey_600;
            &--int{

                margin: 0 0 0 11px;
                width: 56px;
                height: 24px;
                box-sizing: border-box;
            }
        }

        .label-color{
            padding: 0 5px 0 24px;
            font-size: 14px;
            color: $grey_600;
            
            &--int{
                margin: 0 0 0 15px;
                padding: 0;
                border: 1px solid grey_202;
                border-radius: 2px;
                box-sizing: border-box;
                outline: none;

                }

        }

        .media-conteiner {
            display: grid;
            width: 216px;
            height: 61px;
            margin: 19px 0 0 0 ;
            grid-template-columns: 29px 184px;
            grid-template-areas: 
                "POCK TITL"
                "POCK CRD"
                "POCK FOOT"; 
            
            &__title{
                height: 15px;                
                font-size: 16px;
                font-weight: 400;
                color: $grey_600;
                grid-area: TITL;
                margin: 0;
                padding: 0;
            }


            &--pocket{
                grid-area: POCK;
                margin: 10px 12px 0 0;
            }


            &__cards{ 
                width: 132px;
                height: 24px;
                margin: 8px 0 0 0;
                grid-area: CRD;
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: flex-end;

                &--el1{
                    padding: 0 13px 0 0;
                    width: 51px;
                    height: 16px;
                }

                &--el2{
                    padding: 0 13px 0 0;
                    width: 30px;
                    height: 23px;
                }

                &--el3{
                    padding: 0 13px 0 0;
                    width: 24px;
                    height: 24px;
                }
                              
            }

            &__footer{
                color: $blue_110;
                font-size: 9px;
                text-decoration: underline;
                padding: 0;
                margin: 0;
                display: block;
                grid-area: FOOT;

            }                

        }     

            .delive-wrapper{
                display: flex;
                flex-direction: row;
                justify-content: start;
                margin: 28px 0 0 0;

                &-icon {
                    margin: 0;
                    padding: 0 11px 0 0;

                }

                &-text {
                    margin:0 0 0 0 ;
                    font-size: 14px;
                    }

                }
            
            .input-reservar{
                width: 296.11px;
                height: 40px;
                background-color: $grey_700;
                margin: 26px 15px;
                border-radius: 5px;
                font-size: 20px;
                color: #fff;
                padding: 8px 0 8px 0;
                box-sizing: border-box;
                border: 1px solid $grey_700;
                

            }

            .caracteristicas-wrapper{
                min-height: 55px;
                width: 232px;
                height: 151px;
                margin: 10px 0 0 0;
                justify-content: start;
                flex-direction: column;
                flex-wrap: wrap;


                &--header{
                    color: $grey_600;
                    font-size: 18px;
                    margin: 0;
                    padding: 0 0 12px 0;
                  
                }

                &__content{
                    width: 106px;
                    height: 55px;
                    display: block;
                    float: left;
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;


                    &--title{
                        font-size: 12px;
                        color: $grey_400;
                        text-align: start;
                        margin: 0;
                        box-sizing: border-box;


                    }

                    &--main{
                        font-size: 14px;
                        color: $grey_600;
                        box-sizing: border-box;

                    }

                }

            }


            .descripcion-wrapper{
                width: 327px;
                height: 193px;
                margin: 24px 0 0 0;

                &--header{
                    color: $grey_600;
                    font-size: 18px;
                    top: 0;
                    left: 0;
                    margin: 0;
                    padding: 0 0 12px 0;
                }

                &--content{
                    color: $grey_600;
                    font-size: 14px;
                    margin: 0;
                    padding: 0;

                    }

                }

            .prod-title{
                font-size: 18px;
                color: $grey_600;
                margin: 24px 0 0 0;

            }

            .ask-conteiner{
                
                &--title{
                    color: $grey_600; 
                    font-size: 18px;

                }

                &__body{
                    display: grid;
                    grid-template-columns: 16px 302px;
                    grid-template-areas: "IC CONT";       
                    
                
                    &--icon{
                        grid-area: IC;

                    }

                    &--content{
                        grid-area: CONT;
                        color: $grey_600; 
                        margin: 0 0 35px 7px;
                        padding: 0;

                    }
                }

                &--link{
                   color: $blue_101;
                   font-size: 16px;
                   display: block;
                   width: 70px;
                   text-decoration: underline;
                   margin: 0 0 0 114px;
                   padding: 0 0 20px 0;

                }

            }

        

    }


}




