@import '../../components/layout/variables';
@import './carousel';

.home-content {    
  .featured-product {
    margin: 18px 0px;

    &--title {
      font-size: 18px;
      color: $grey_555;
      margin: 0 15px;
      font-weight: 300;
    }
  }
}