@import '../layout/variables';

.search-wp {
  height: 60px;
  background-color: $grey_100;

  &__imput {
    border: 2px solid $grey_401;
    border-radius: 4px;
    margin: 8px 16px;
    position: relative;
    padding: 0 8px;
    background-color: $white_100;

    &--text {
      border: none;
      height: 40px;
      width: 100%;
      padding: 0;

      &::placeholder {
        color: $grey_401;
        font-size: 16px;
        font-weight: 100;
        padding: 8px;
      }

      &::focus  {
        border: 0;
        box-shadow: none;
      }
    }

    &--icon {
      position: absolute;
      right: 0;
      margin: 8px;
    }
  }

}
